.topTracks {
    width: 60%;
    max-width: 40vw;
    display: flex;
    // margin: 0 0 0 5vw;
    // color: black;

    .topTracks-card {
        width: 50vw;
        height: 400px;

        canvas {
            margin-left: -6vw;

        }

        h3 {
            margin: 2vh 0 2vh -1vw;
        }
    }
}

.card {
    margin: 13vh 0 0 5vw;
    text-align: justify;
    padding: 1em;
    font-size: 16px;

    .report-body span {
        font-weight: bold;
        font-size: 17px;
    }

}

h3 .h3 {
    margin: 7vh 0 3vh 2vw;

}

.upperBody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    margin: 0 auto 4vh auto;
}

.lowerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 90vh;
    width: 80%;
    margin: 0 auto 8vh auto;
    // margin: auto;
}