.curr-track-card {
    width: 35%;
    margin: 4vh 0 0 5.85vw;
    min-width: 484px;

    img {
        width: 160px;
        object-fit: cover;
    }
}

.heart-btn {
    cursor: pointer;
    margin: 0 0 0 1vw;
}