.body {

    align-items: center;
}

.main-body {
    margin: 5vh auto;
    flex-wrap: nowrap;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    flex-direction: row;
    width: 80%;
}