.body {

    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5vh auto;

    .track-info {
        box-shadow: 3px 3px 12px -8px #000000;
        border-radius: 5px;
        outline: 0.5px solid rgb(207, 207, 207);
        max-width: 350px;
        padding: 2em;

        h3 {
            margin: 0 0 2vh 0;
        }

        img {
            width: 100%;
            margin: auto;
        }

        .saveBtn :hover {
            cursor: pointer;
        }
    }

    .track-report {
        margin: 5vh 0 0 5vw !important;

        h3 {
            padding: 10px;
            color: black;
        }
    }
}