.body {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    .track {
        box-shadow: 3px 3px 12px -8px #000000;
        border-radius: 5px;
        outline: 0.5px solid rgb(207, 207, 207);
        max-width: 300px;
        padding: 1em;

        h3 {}

        img {
            width: 100%;
            height: auto;
        }
    }
}