.links {
    color: white;
    margin: 0 20px 0 20px;
    font-size: 2ch;

    &:hover {
        color: white;
        list-style-type: none;
    }
}

.logout {
    cursor: pointer;
    margin-left: 100px;
    font-size: 2em;
    top: 0.7em;
    right: 0.7em;
    position: absolute;
}

.close-btn {
    width: 36px;
    // padding: 0 10px 0 -10px;
    padding-right: 10px;

    &:hover {
        cursor: pointer;
    }
}

.search {
    position: absolute;
    text-align: center;
    width: 25%;
    display: inline-block;
    background-color: white;
    z-index: 10;
    left: 10vw;
    border-radius: 10px;
    right: 0;
    margin: 64px auto auto;

    -webkit-box-shadow: 3px 2px 15px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 2px 15px -6px rgba(0, 0, 0, 0.5);

    .search-result {
        margin: 0;
        min-width: 200px;

        .txt-result {
            margin-left: 1vw;
        }
    }
}